
.sweeper_box {
    display: inline-block;
    border: 3px solid;
    border-top-color: rgb(123, 123, 123);
    border-left-color: rgb(123, 123, 123);
    border-bottom-color: white;
    border-right-color: white;
    outline: solid 8px #bdbdbd;
}

.sweeper_row {
    /*display: inline-block;*/
    height: 40px;
    white-space: nowrap;
}

.sweeper_field {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}

.number_shown {
    cursor: default;
}

.sweeper_field.flag {
    cursor: default;
}